root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{bat,reg}]
end_of_line = crlf

[/update.bat]
insert_final_newline = unset
end_of_line = unset

[*.py]
end_of_line = lf
indent_size = unset
