# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
autoinstall.bat
autoinstall.sh
__pycache__

.tools/python/
_AutoinstallCreator/*.txt

*.exe
*.dll
*.so
*.msi
*.tmp
*.zip
*.bz2
*.tar
*.deb
*.7z
*.php
*.conf
*.tar.xz
*.tar.gz
*.tar.zst
*.old
*.md
.idea/
.empty
uTorrent/*.lng
.tests/git_status.txt

bsdtar/*.bat
python/Scripts/

tmp/
