# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
autoinstall.bat
autoinstall.sh
*.exe
*.dll
*.so
*.msi
*.tmp
*.zip
*.bz2
*.tar
*.deb
*.7z
*.php
*.conf
*.tar.xz
*.tar.gz
*.tar.zst
.idea/
.empty
uTorrent/*.lng
.tests/git_status.txt
